.quote-container{
    padding:10px;
    background: hsl(203, 85%, 23%);
    color: hsl(203, 80%, 85%);
    margin-bottom:25px;
    margin-top:25px;
     // box-shadow: 10px 10px black;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.customer-quote{
    font-style:italic;
    font-size:16px;
}

.quote-source{
    font-size:19px;
    color:white;
}
@media only screen and (min-width: 360px) {
    .quote-container{
        padding:20px;
    }
.customer-quote{
    font-size:19px;
}
 .quote-source{
     font-size:22px;
 }
}

@media only screen and (min-width: 540px) {

    .quote-container{
padding:30px;
}
.customer-quote{
font-size:22px;
}
.quote-source{
font-size:26px;
}
}