.ad-breadcrumb {
    list-style: none;
    display: inline-flex;
    flex-wrap: nowrap;

    padding-left: 0;
    flex-grow: 2;
    margin-bottom: 2px;
    li {
        float: left;
        margin-right: 5px;
        &:after {
            content: ' / ';
        }
        &:last-child {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &:after {
                content: '';
            }
        }
    }
}
#contactContainer{
   // background:hsl(202,91%,36%);
    padding:2px 0;
    border-top:hsl(184,60,60) solid 1px;
    border-bottom:hsl(184,60,60)  solid 1px;
   a{ 
      // color: hsl(202,91%,94%);
      color:black;
        margin-right:50px;
        line-height: 35px;
        &:hover{
           color: hsl(202,91%,100%);
            text-decoration: none;
        }
        .primary-icon{
            fill: white;
            stroke: hsl(189,50%,62%);
        }
        .secondary-icon{
               fill: white;
            stroke: hsl(189,50%,62%);
        }
        &:hover{
            color:hsl(189,50%,32%);
            .primary-icon{
                fill: hsl(189,80%,92%);
                stroke: hsl(189,50%,62%);
            }
            .secondary-icon{
                fill: hsl(189,80%,92%);
                stroke: hsl(189,50%,62%);
            }
        }
   }
}












@media only screen and (min-width: 430px) {


}

