<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>{{asset.name}}</title>
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/asset.css" rel="stylesheet">
    <script src="/javascript/assetPageMap.js"></script>
</head>

<body>
    <div class="container">
        {% include "includes/header.html" %}

        <div id="assetHeadingSection">
            <div id="assetTypeIcon">
                    <img src="/images/icons/{{asset.documentTypeReference}}.svg" width="50" alt="">
            </div>
            <div id="assetHeadings">
                    <h1 id="assetPageHeading">{{asset.name}}</h1> 
                    <h2 id="assetPageSubHeading">{{asset.documentTypeName}} {% if asset.longText %} - {{asset.longText}} {% endif
                            %}</h2>
            </div>
            <div id="priceSection">

            </div>
        </div>
     
       

        
        <div id="availabilityContainer" {% if asset.availabilityStatus == 'true' %}class="available"{% endif %}>
            <div id="availabilityDescription">{{asset.availabilityDescription}}</div>
            {% if asset.availabilityStatus == 'true' %}
            <div class="contact-action-button">
                <a href="/advertise/contact/book/{{asset.reference}}" class="btn btn-success">Book now!</a>
            </div> 
            {% endif %}
            {% if asset.availabilityStatus != 'true' %}
            <div class="contact-action-button">
                <a href="/advertise/contact/waitinglist/{{asset.reference}}" class="btn btn-primary">Add me to waiting list</a> 
            </div>
                {% endif %}
        </div>
        <div id="propertiesBlock">
            <h3 id="detailsHeading">Details</h3>
            {% for name, item in properties %}
            <div class="property-block">
               <div class="property-name">{{ name }}</div> 
               <div>{{ item }}</div>
            </div>
            {% endfor %}
        </div>
        <div id="locationContainer">
            <div id="locationViewSelection">
                <div class="view-selection">
                    <input type="radio" class="view-radio-btn" id="mapView" name="locationView" value="mapView"
                        onChange="selectView()" checked>
                    <label for="mapView" id="mapViewLabel" tabindex="0">Map</label>
                </div>

                <div class="view-selection">
                    <input type="radio" class="view-radio-btn" id="streetView" name="locationView" value="streetView"
                        onChange="selectView()">
                    <label for="streetView" id="streetViewLabel" tabindex="0">Street view</label>
                </div>
            </div>
            <div id="mapHolder">
                <div id="map" class="show"></div>
                <div id="pan"></div>
            </div>
        </div>


     

<hr>
<p>Advertising on Dorset's roundabouts offers you one of the most cost-effective ways to raise your company's profile and promote your business, whilst making a positive contribution to the County's landscape. Get in touch to join the waiting list for roundabout sponsorship.</p>
  
      
    </div>
    {% for location in asset.locations %}
    <input class="location-lat" type="hidden" value="{{location.latitude}}">
    <input class="location-lng" type="hidden" value="{{location.longitude}}">
    <input class="location-street-lat" type="hidden" value="{{location.streetviewLatitude}}">
    <input class="location-street-lng" type="hidden" value="{{location.streetviewLongitude}}">
    <input class="location-street-heading" type="hidden" value="{{location.streetviewHeading}}">
    <input class="location-street-pitch" type="hidden" value="{{location.streetviewPitch}}">
    {%- endfor %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVLqUxdgLoBovYi83r-2YZNgvZFlsJR2g&callback=initMap"
        async defer></script>

    <script>
        function selectView() {
            if (document.getElementById("mapView").checked) {
                document.getElementById("pan").classList.remove("show");
                document.getElementById("map").classList.add("show");
            } else if (document.getElementById("streetView").checked) {
                document.getElementById("pan").classList.add("show");
                document.getElementById("map").classList.remove("show");
            }
        }

        document.addEventListener('DOMContentLoaded', function(){
    
  
    var listItems = document.getElementsByClassName("item");
  
    
    for(var i=0;i<listItems.length;i++){
        listItems[i].addEventListener("click",function(evt){
            for(var x=0;x<listItems.length;x++)
                listItems[x].classList.remove("current");
            evt.target.classList.add("current");
       })
    }
  }, false);
    </script>

</body>

</html>