<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>Homepage</title>
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">
    
</head>

<body>
    <div class="container">
        {% include "includes/header.html" %}
        <h1 id="homepageHeading">Local advertising solutions in Dorset</h1>

        <div class="row mt-4">
            <section class="col-sm-6 col-md-5" id="postcodeSearchBlock">      
                <form v-on:submit.prevent="postcodesearch">
                    <div class="form-group" aria-labelledBy="search">
                        <h2 class="home-action-label" id="search">Advertising location finder</h2>
                        <label class="invisible" for="postcode" id="postcodeLabel">Postcode</label>
                        <div class="input-group">
                            <input type="text" id="postcode" class="form-control  form-control-lg" placeholder="Enter full postcode" v-model="postcode">
                            <div class="input-group-append">
                                <button class="btn btn-success" type="button" id="searchGoBtn" @click="postcodesearch"> Search </button>
                            </div>
                        </div>
                    </div>
                </form>       
            </section>
            <section class="col-sm-6 col-md-5 offset-md-1" id="browseLinkBlock">
                <h2 class="home-action-label">Choose your advertising space</h2>
                <a title="browse opportunities" id="browseLink" href="/advertise/search" class="btn btn-primary btn-block">Start browsing now<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="browse-link"><path class="secondary" d="M14.59 13H7a1 1 0 0 1 0-2h7.59l-2.3-2.3a1 1 0 1 1 1.42-1.4l4 4a1 1 0 0 1 0 1.4l-4 4a1 1 0 0 1-1.42-1.4l2.3-2.3z"/></svg></a>
            </section>
        </div>
        <section data-aos="fade-up">
                <h1 class="home-section-heading">Advertise in Dorset to reach:</h1>
                 <div class="ad-data-collection  mb-5">
                    <div class="ad-data">18 <span class="ad-data-label">Million yearly visitors</span></div>
                    <div class="ad-data">375,050 <span class="ad-data-label">residents</span></div>
                    <div class="ad-data">158,738 <span class="ad-data-label">households</span></div>
                    <div class="ad-data">19,995 <span class="ad-data-label">businesses</span></div>
                </div>
            </section>
        <section class="document-types-section full-width">
            <h2 class="home-section-heading">Advertise your business here</h2>
                <p>Dorset County Council offers a broad portfolio of sponsorship, advertising sites and promotional opportunities that can help your message gain wide coverage, whether you’re looking to promote a product, service or event. With our local knowledge and options for all sized budgets, we work with organisations across the county to provide unique local advertising solutions in Dorset. Sponsorship and advertising fees are used to support council services which benefit the residents and businesses of Dorset.</p>
                {% import 'includes/asset-type-block.html' as doctype %}
                <div class="document-types-list">
                {% for type in documentTypes %}
                    {{doctype.documentTypeInfoBlock(type.name,type.reference,type.tagline)}}
                {%- endfor %}
            </div>
        </section>
        <section data-aos="fade-up">
                <h2 class="home-section-heading">What others say</h2>
                
                <div class="quote-container">
                <blockquote class="customer-quote">"We'd recommend roundabout sponsorship in Dorset as a great way of raising brand awareness, and at Dorset Windows we find it provides good value for money. With the right roundabout, we're able to promote our brand as people travel around and be in the forefront of people's minds"</blockquote>
                
                <p class="quote-source">Kath Pumfrey, of Dorset Windows</p>
                </div>
                <div class="quote-container">
                <blockquote class="customer-quote">"At Blue Pool, we’ve had a very positive experience of roundabout sponsorship; the attraction has benefited from an increase in visitor numbers and word-of-mouth, and we’ve had growing in interest in Wareham Bears. We’re also happy that, through our sponsorship, the community benefits from well-maintained and tidy roundabouts. 
                We’d recommend roundabout sponsorship in Dorset to other businesses and attractions due to the increased number of customers and the greater local awareness that it provides"</blockquote>
                
                <p class="quote-source">Carolyn Snook, of Blue Pool</p>
                </div>
                </section>
     
    </div>
    {% include "includes/footer.html" %}
</body>
</html>
