<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>Homepage</title>
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">
    
</head>

<body>
    <div class="container">
        {% include "includes/header.html" %}
       
        
        <h1 id="homepageHeading">Advertise i n Dorset to <span id="promoteBrandEmph">promote your brand</span></h1>

        <div class="row mt-4">
            <section class="col-sm-6 col-md-5" id="postcodeSearchBlock">      
                <form v-on:submit.prevent="postcodesearch">
                    <div class="form-group" aria-labelledBy="search">
                        <h2 class="home-action-label" id="search">Find opportunities near you</h2>
                        <label class="invisible" for="postcode" id="postcodeLabel">Postcode</label>
                        <div class="input-group">
                            <input type="text" id="postcode" class="form-control  form-control-lg" placeholder="Enter full postcode" v-model="postcode">
                            <div class="input-group-append">
                                <button class="btn btn-success" type="button" id="searchGoBtn" @click="postcodesearch"> Search </button>
                            </div>
                        </div>
                    </div>
                </form>       
            </section>
            <section class="col-sm-6 col-md-5 offset-md-1" id="browseLinkBlock">
                <h2 class="home-action-label">Choose your advertising space</h2>
                <a title="browse opportunities" id="browseLink" href="/advertise/search" class="btn btn-outline-primary btn-block">Start browsing now<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="browse-link"><path class="secondary" d="M14.59 13H7a1 1 0 0 1 0-2h7.59l-2.3-2.3a1 1 0 1 1 1.42-1.4l4 4a1 1 0 0 1 0 1.4l-4 4a1 1 0 0 1-1.42-1.4l2.3-2.3z"/></svg></a>
            </section>
        </div>
        <section class="document-types-section full-width">
                <div class="sub-heading-types"> Current opportunities</div>
            <p>Our broad portfolio of sponsorship, advertising sites and promotional opportunities give the
        potential for your message to be widely viewed, whether you’re looking to promote a
        product, service or event.</p>
           
            <div class="document-types-list">
                <div class="document-type-square">
                    <div class="document-type-icon">
                  <img class="type-icon"  src="/images/icons/Roundabout-sponsorship.svg">
                    </div>
                    <div class="document-type-name">
                        <div class="type-name">Roundabout sponsorship</div>
                    </div>
                    <div class="type-text">
                        Over 80 roundabouts in high traffic areas
                        </div>
                </div>
        
                <div class="document-type-square">
                    <div class="document-type-icon">
                  <img class="type-icon"  src="/images/icons/bin-lid-advertising.svg">
                    </div>
                    <div class="document-type-name">
                        <div class="type-name">Bin Lid Advertising</div>
                    </div>
                    <div class="type-text">
                        Unique and highly targeted.
                        </div>
                </div>
        

         
                <div class="document-type-square">
                    <div class="document-type-icon">
                  <img class="type-icon"  src="/images/icons/car-parking-ticket-advertising.svg">
                    </div>
                    <div class="document-type-name">
                        <div class="type-name">Car Parking Ticket Advertising</div>
                    </div>
                    <div class="type-text">
                        Directly into the hands of your audience.
                        </div>
                </div>

                <div class="document-type-square">
                    <div class="document-type-icon">
                  <img class="type-icon"  src="/images/icons/bus-shelter-advertising.svg">
                    </div>
                    <div class="document-type-name">
                        <div class="type-name">Bus Shelter Advertising</div>
                    </div>
                    <div class="type-text">
                        Unique and highly targeted.
                        </div>
                </div>

            </div>

          
            </section>

     
    </div>
</body>
</html>
